.containerFilter{
    padding: 20px;
}
.messagesContainer{
    background-color: white;
    border-radius: 20px;margin: 20px;
    padding: 20px;
}
.myDetails{
    border-bottom: 1px solid black;
}
.senderpicsContainer{

}
.senderpicHolder{
    display: flex;
    justify-content: space-between;
}
@media(max-width: 1024px){
.senderpicHolder{
    flex-direction: column;
    margin-bottom: 15px;
}
}