.resetPassword{
    width: 80%;
    margin-left: 10%;
  background-color: white;
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 80px;
}
.resetPassHolder{
    width: 70%;
    margin-left: 15%;
  
}
.resetPassHolderHeading{
    border:1px solid black;
    padding: 20px;
    border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background:  rgba(0, 0, 0, .03);
}
.resetPassHolderHeading h1{
    font-weight: 500;
    font-size: 18px;
}
.resetContainer{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 40px;
    border-right: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.resetInputHolder{
    border: 1px solid black;
    padding: 6px;
    border-radius: 2px;
    display: flex;
}
.resetInputHolder input{
    width: 98% !important;
    outline: transparent;
    margin-left: 2%;
}
.resetContainer button{
    background-color: #eeba2b;
    padding: 10px 30px;
    border-radius: 5px;
margin-bottom:20px ;
}
.resetContainer p{
    font-size: 16px !important;
}
@media(max-width:1024px){
    .resetPassword{
        width: 90%;
        margin-left: 5%;
    }
    .resetPassHolder{
    width: 90%;
    margin-left: 5%;
  
}
.resetContainer{
   
    padding: 10px;

}
}